<h2>Dashboard</h2>
<h3>Following:</h3>

<div class="feed-container">
	<% SoundStorm.currentUser.followedUsers.each(function(user) { %>

		<% user.get("tracks").forEach(function(track) { %>

			<%= JST['dashboard/track']({ user: user, track: track	}) %>

		<% }); %>

	<% }); %>

</div>
