<div id="statistics">
	Statistics <a href="#/statistics" class="view-all">View all</a><br>
 	Plays Today: 0 <br>
 	Plays Yesterday: 0 <br>
 	0 Plays in total
</div>

<div id="following">
	 <%= JST['users/_sidebar_following']() %>
</div>

<div id="play_sets">
	<%= JST['users/_sidebar_play_set']() %>
</div>

<div id="likes">
	<%= JST['users/_sidebar_like']() %>
</div>

<div id="comments">
	<%= JST['users/_sidebar_comments']() %>
</div>