<div id="statistics">
	Statistics <a href="#/statistics">View all</a><br>
 	Plays Today: 0 <br>
 	Plays Yesterday: 0 <br>
 	0 Plays in total
</div>

<div id="following">
	0 Followings <a href="#/followings">View all</a>
</div>

<div id="play_sets">
	<% var setCount = SoundStorm.currentUser.playSets.length %>
	<span class="sidebar-data"><%= setCount %> <%= (setCount == 1 ? "set" : "sets") %></span>
	<a href="#/play_sets">View all</a>
</div>

<div id="likes">
	<%= JST['users/_sidebar_like']() %>
</div>

<div id="comments">
	0 Comments <a href="#/comments">View all</a>
</div>