<h2>User Activity</h2>

<% _(userAssets).each(function(asset) { %>

	<% if (asset instanceof SoundStorm.Models.Track) { %>

		<%= JST['tracks/track']({track: asset}) %>

	<% } else if (asset instanceof SoundStorm.Models.PlaySet ){ %>

		<%= JST['play_sets/play_set']({playSet: asset}) %>

	<% } else { %>

		<%= JST['reposts/repost']({repost: asset}) %>

	<% } %>
	
<% }); %>
