<header>
	<a href="#">Home</a>
	<a href="#/stream">Stream</a>
	<a href="#/explore">Explore</a>
	<span>Search Bar</span>
	<a href="#">Latest Activity Feed</a>
	<a href="#">Messages</a>
	<button id="user_select">USER SELECT</button>
	[<div id="user_dropdown" class="hidden">
		<a href="#/profile">Your Profile</a>
		<a href="#/likes">Your likes</a>
		<a href="#/play_sets">Your Sets</a>
		<a href="#/followings">Who to follow</a>
		<a href="#/profile/edit">Settings</a>
		<%= button_to "Sign Out", session_url, method: :delete %>
	</div>]
	<a href="/tracks/new">Upload</a>
	<span>Volume Control</span>
</header>
