<header>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#/stream">Stream</a></li>
		<li><a href="/tracks">Explore</a></li>
		<li><input type="text" class="search-bar" placeholder="Search..."></li>
		<li><a href="/#/profile">Your Profile</a></li>
		<li><a href="/tracks/new">Upload</a></li>
		<li><span>Volume Control</span></li>
	<ul>
	<%= button_to "Sign Out", session_url, id: "sign_out", method: :delete %>
</header>
