<header>
	<ul>
		<li><a href="/"><span class="icon-soundcloud"></span></a></li>
		<li><a href="/#">Stream</a></li>
		<li><a href="/tracks">Explore</a></li>
		<li><input type="text" class="search-bar" placeholder="Search..."></li>
		<li><a href="/#/profile">Your Profile</a></li>
		<li><a href="/tracks/new">Upload</a></li>
		<li>
			<div class="volume">
				<span class="icon-volume-up"></span>
				<div class="volume-control hidden"><div class="volume-dial"></div></div>
			</div>
		</li>
		<li><%= button_to "Sign Out", session_url, id: "sign_out", method: :delete %></li>
	<ul>
</header>
