<% if (SoundStorm.currentUser.likes.hasTrack(track.id)) { %>

	<button title="Like this track" class="like icon-heart-empty hidden"></button>
	<button title="Unlike this track" class="unlike icon-heart"></button>

<% } else { %>

	<button title="Like this track" class="like icon-heart-empty"></button>
	<button title="Unlike this track" class="unlike icon-heart hidden"></button>
	
<% } %>

