<h2>Edit Track</h2>

<form>

<label for="track_name">Name</label>
<input type="text" name="track[name]" value="<%= track.escape('name') %>">

<input type="hidden" name="track[owner_id]" value="<%= SoundStorm.currentUser.id %>">

<a href="#/profile">Cancel</a>
<input type="submit" value="Save">

<p> More fields to come.. </p>	

</form>