<div class="profile-widget track" data-track-id="<%= track.id %>">
	<p><%= track.escape("name") %></p>
	<button>Play</button>
	<button class="remove">Remove</button>

	<button data-id="<%= track.id %>" class="add-to-set">Add to Set</button>
</div>