<h2>Play Sets</h2>

<div class="play-sets-container">

	<ul>
	<% SoundStorm.currentUser.playSets.each(function(playSet) { %>

		<li><a href="/users#/play_sets/<%= playSet.id %>"><%= playSet.escape("name") %></a> (<%= playSet.get("tracks").length %>)

	<% }); %>
	</ul>

</div>