<h2>Followers (<%= SoundStorm.currentUser.followers.length %>)</h2>

<ul>
<% followers.each(function(user) { %>
	
	<li>
		<%= user.escape('username') %>

		<% if (SoundStorm.currentUser.followedUsers.get(user.id)) { %>
			<button data-user-id="<%= user.id %>" disabled="true">Following</button>
		<% } else { %>
			<button data-user-id="<%= user.id %>"class="follow">Follow Back</button>
		<% }%>
	</li>

<% }); %>
</ul>