<h2>Creators To Follow</h2>

<ul>
	<% users.each(function(user) { %> 

		<li>
			<%= user.escape('username') %>
			<button data-user-id="<%= user.id %>" class="follow">Follow</button>
		</li>

	<% }); %> 
</ul>