<button class="home">Home</button>
<!-- <a class="header login" href="#">Login</a> or
<a class="header signup" href="#">Sign Up</a> -->
<%= link_to "Login", new_session_url %>
<%= link_to "SignUp", new_user_url %>
<span>Volume</span>
<a class="header more" href="#">More</a>