/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #content, #content2 {
 	position: relative;
 	top: 50px;
 	padding-bottom: 50px;
 }

 .errors {
 	position: absolute;
 	top: 60px;
 	left: 100px;
 	color: red;
 	font-family: sans-serif;
 }

 .errors p {
 	margin: 0px;
 }

 h3 {
 	font: 18px sans-serif;
 	letter-spacing: 4px;
 	color: orange;
 	padding: 10px;
 	text-shadow: 0.1em 0.1em #3f3d3d; 
 	margin-bottom: -20px;
 	margin-top: -10px;
 }

.hidden {
	display: none;
}

h1 {
	font-family: sans-serif;
	color: #222828;
	font-size: 28px;
	text-shadow: 0.1em 0.1em #ccc
}

h2 {
	font-family: sans-serif;
	color: #3f3d3d;
	font-size: 22px;
	letter-spacing: 3px;
}	



