/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.hidden {
	display: none;
}

header {
	margin: -10px -10px 0px -10px;
	background-color: #666666;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	/*border-bottom-radius: 1em; */
	height: 35px;
}

.left-column {
	margin-left: 10px;
	background-color: #6c7d7c;
	width: 180px;
	float: left;
	margin: 24px 30px;
	border-radius:4em 1em 1em 4em;
	padding-top: 0px;
	padding-left: 10px;
	padding-bottom: 25px;
	box-shadow: -3px 3px 3px #000000;
}

.middle-column {
	width: 600px;
	float: left;
	margin: 24px 3% 25px 2%;
}

.right-column {
	/*width: 180px;*/
	position: relative;
	float: left;
	margin: 24px 0px;
	padding: 25px 15px 25px 15px;	background-color: #6c7d7c;
	width: 12em;
	border-radius: 1em 4em 1em 4em;
	box-shadow: 3px 3px 3px #000000;
}

.profile-picture {
	width: 180px;
	height: 180px;
	position: relative;
	left: 20px;
	margin-top: 15px;
	margin-bottom: 25px;
	border-radius: 10px;
}

.user-name {
	font-size: 20px;
	padding: 3px 15px 3px 15px;
	top: -10px;
	left: -10px;
	background: orange;
	position: relative;
	height: 30px;
	border-radius: 1em;
}

#profile_info {
	background-color: orange;
	position: relative;
	padding: 2px 10px 10px 5px;
	border-radius: 1em 1em 3em 2em;
	left: 20px;
	box-shadow: -2px 1px 0px 2px #ad611d;

}

.profile-widget {

}

.track {
	height: 120px;
}

.widget {
	margin-top: 40px;
	margin-bottom: 80px;
}

.widget hr {
	/*width: 500px;*/
	position: relative;
	top: -15px;
	left: -10px;
	height: 0.5px;

	background-color: #222828;
}

.pallet {
	position: relative;
	z-index: -1;
	height: 40px;
	width: 300px;
	border-radius: 20px;
	background: #666666;
	left: 80px;
	top: 10px;
}

.play-button {
	background-color: gray;
	position: relative;
	left: -35px;
	top: -14px;
	width: 50px;
	height: 50px;
	border-radius: 35px;
	border: 2px solid #ccc;
	float: left;
	box-shadow: inset 0 0 3px #000000;
}

.play .symbol1 {
	width: 0; 
	height: 0; 
	position: relative;
	left: 15px;
	top: 5px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 32px solid #f6f4f2;
	/*box-shadow: 0 0 10px 10px #000000;*/
}

.play .symbol2 {
	display: none;
}

.pause .symbol1 {
	position: relative;
	left: 12px;
	top: 8px;
	width: 8px;
	height: 35px;
	background-color: #f6f4f2;
	float: left;
	border-radius: 1.5px;
}

.pause .symbol2 {
	position: relative;
	left: 23px;
	top: 8px;
	width: 8px;
	height: 35px;
	background-color: #f6f4f2;
	float: left;
	border-radius: 1.5px;
}

.name-container { 
	position: relative;
	left: 20px;
	border-radius: 20px;
	padding-left: 25px;
	float: left;
	height: 40px;
	width: 375px;
	background-color: #0042ff;
	box-shadow: inset 0 0 10px #000000;
}

.name-inner-container {
	float: left;
} 

.play-area {
	float: left;
	width: 460px;
	margin-left: 10px;
}

.visualizer {
	position: relative;
	top: 60px;
	border-radius: 45px;
	height: 80px;
	background: #222828;
}

.seeker-container {
	background-color: #3f3d3d;
	width: 400px;
	height: 70px;
	border-radius: 0.5em;
	position: relative;
	/*padding-left: 5px;*/
	top: 4px;
	margin: auto;
	box-shadow: 0px 2px 0px 1px #ccc;
}

.seeker {
	position: relative;
	border-radius: 0.5em;
	height: 72px;
	width: 0;
	background-color: #c45c00;
	border-right: 4px solid orange;
	opacity: 0.5;
}

.image-container img {
	position: relative;
	top: -14px;
	border-radius: 15px;
	height: 110px;
	width: 110px;
	float: left;
}

.buttons-and-stats {
	position: relative;
	top: 60px;
	left: 125px;
	height: 20px;
}

.track-name {
	top: 12px;
	left: -25px;
	position: relative;
	font-size: 20px;/*
	color: #c45c00;
	opacity: 0.9;*/
}

.play-set {
	background: orange;
}

.repost {
	background: yellow;
}

.add-to-set-popup {
	z-index: -1;
	/*height: 50px;
	width: 60px;*/
	background: gray;
}

div#statistics {
	background: orange;
	padding: 5px 2px 10px 12px;
	border-radius: 0.8em;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #222828;
	box-shadow: 0px 1px 0px 2px #ad611d;
}

div#play_sets {
	background: orange;
	padding: 5px 2px 10px 12px;
	border-radius: 0.8em;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #222828;
	box-shadow: 0px 1px 0px 2px #ad611d;
}

div#following {
	background: #ad611d;
	padding: 5px 2px 10px 12px;
	border-radius: 0.8em;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ccc;
	box-shadow: 0px 1px 0px 2px #222828;
}

div#likes {
	background: #3f3d3d;
	padding: 5px 2px 10px 12px;
	border-radius: 0.8em;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ccc;
	box-shadow: 0px 1px 0px 2px #222828;
}

div#comments { 
	background: orange;
	padding: 5px 2px 10px 12px;
	border-radius: 0.8em;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #222828;
	box-shadow: 0px 1px 0px 2px #ad611d;
}

div#to_follow_view {
	margin-top: 24px;
	width: 35%;
	float: left;
}

div#following_view {
	margin: 24px 24px 24px 24px;
	width: 25%;
	float: left;
}

div#followers_view {
	margin-top: 24px;
	width: 25%;
	float: left;
}

body {
	/*background: #d8d9d9;*/
}