/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.hidden {
	display: none;
}

.left-column, div {
	border: 1px dashed;
}

.left-column {
	width: 200px;
	border: 1px dashed red;
	float: left;
	margin-top: 24px;
}

.middle-column {
	width: 35%;
	border: 1px dashed orange;
	float: left;
	margin: 24px 24px 24px 24px;
}

.right-column {
	width: 25%;
	position: relative;
	left: 75px;
	float: left;
	margin: 24px;
}

.profile-widget {
	border: 2px solid green;
}

.track {
	background: gold;
}

.play-set {
	background: orange;
}

.repost {
	background: yellow;
}

.add-to-set-popup {
	z-index: -1;
	/*height: 50px;
	width: 60px;*/
	background: gray;
}

div#play_sets {
	background: #FFCC66;
}

div#likes {
	background: pink;
	border: 2px solid green;
}

div#to_follow_view {
	margin-top: 24px;
	width: 35%;
	float: left;
}

div#following_view {
	margin: 24px 24px 24px 24px;
	width: 25%;
	float: left;
}

div#followers_view {
	margin-top: 24px;
	width: 25%;
	float: left;
}
