 .comments-show ul {
 	background: black;
 	opacity: 0.8;
 	font: 20px sans-serif;
 	color: #ccc;
 	margin-left: 20px;
 	list-style-type: none;
 	width: 500px;
 	border-radius: 20px;
 	padding-top: 10px;
 	border: 6px solid orange;
 }

.comments-show ul li {
	margin: 5px 0;
}

.dashboard_sidebar {
	box-sizing: border-box;
	float: right;
	width: 350px;
	height: 600px;
	border: 2px solid black;
 	border-radius: 15px;
 	color: #3f3d3d;
 	background: #3f3d3d;
 	border: 1px solid silver;
 	margin-right: 50px;
	position: fixed;
	left: 65%;
	top: 100px;
	padding: 20px 20px;
	border: 6px solid orange;
}

.to-follow-container {
	opacity: 1;
}

.to-follow-widget {
	box-sizing: border-box;
	width: 80px;
	height: 100px;
	display: inline-block;
	margin: 10px 8px;
}

.to-follow-widget img {
	width: 78px;
	height: 78px;
}

.to-follow-widget button {
	margin-top: 5px;
	width: 100%;
	position: relative;
	top: -22px;
	border-radius: 10px;
	background-color: #222828;
	border: none;
	font-size: 16px;
	font-family: sans-serif;
	color: #ccc;
	height: 21px;
}

.to-follow-widget button:hover {
	border: 1.5px solid gray;
}

.to-follow-widget span {
	z-index: 9;
	background: black;
	color: orange;
	opacity: 0.8;
	height: 20px;
	top: -82px;
	white-space: nowrap;
	position: relative;
}

.dashboard_sidebar h2 {
	color: #ccc;
	padding-left: 34px;
	margin: 12px auto;}


 .feed-container {
 	float: left;
	width: 600px;
	margin-left: 45px;
 }

 .feed-container hr {
 	width: 100%;
 	left: 0px;
 }