// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel {
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
	box-sizing: border-box;
	width: 900px;
	height: 200px;
	border: 1px solid black;
	margin: auto;
	margin-left: 3%;
	border-radius: 110px;
	padding: 0 88px;
	overflow: hidden;
}

.carousel li {
	list-style: none;
}

.thumbnail {
	box-sizing: border-box;
	width: 160px;
	height: 200px;
	float: left;
	margin: 0 10px;
}

.carousel img {
	display: block;
	position: relative;
	width: 160px;
	height: 160px;
}

.carousel-track-name {
	font-family: sans-serif;
	font-size: 16px;
	color: #3f3d3d;
}

.play-button-thumbnail {
	background-color: gray;
	position: relative;
	left: 60px;
	top: -110px;
	width: 40px;
	height: 40px;
	border-radius: 35px;
	border: 2px solid #ccc;
	float: left;
	box-shadow: inset 0 0 3px #000000;
	cursor: pointer;

}

.play .symbol1b {
	width: 0; 
	height: 0; 
	position: relative;
	left: 12px;
	top: 5px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 24px solid #f6f4f2;
	/*box-shadow: 0 0 10px 10px #000000;*/
}

.play .symbol2b {
	display: none;
}

.pause .symbol1b {
	position: relative;
	left: 10px;
	top: 5px;
	width: 6px;
	height: 30px;
	background-color: #f6f4f2;
	float: left;
	border-radius: 1.5px;
}

.pause .symbol2b {
	position: relative;
	left: 19px;
	top: 5px;
	width: 6px;
	height: 30px;
	background-color: #f6f4f2;
	float: left;
	border-radius: 1.5px;
}

.left {
	top: 58px;
	left: 55px;
	position: absolute;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-right: 50px solid orange;
}

.left.active:hover {
	border-right: 60px solid orange;
	left: 45px;
	cursor: pointer;
}

.right {
	top: 58px;
	left: 860px;
	position: absolute;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 50px solid orange;
}

.right.active:hover {
	border-left: 60px solid orange;
	cursor: pointer;
}

.disabled {
	opacity: 0.35;
}